
<ion-view view-title="双彩" hide-nav-bar="true">
    <ion-header-bar class="bar-background Soccerhall-har" style="height:44px">
        <a class="bar-backgo icon iconfont icon-jiantou1 pagetit" ng-click="backGo()"></a>
    </ion-header-bar>
    <ion-content class="sanspage" scroll="true" overflow-scroll="true" has-bouncing="false" style="top:44px">
        <iframe data-tap-disabled="true" ng-src="{{yourURL | trustAsResourceUrl}}" style="min-height: 100%; width: 100%"></iframe>
    </ion-content>
</ion-view>