<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <p class="title">每天21:15开奖。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法规则</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期开出一个三位数作为中奖号码，百、十、个位每位号码0~9。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody">
        <table class="introduce" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>玩法</td>
                <td>中奖条件</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>直选</td>
                <td>投注号与开奖号相同，且顺序一致</td>
                <td>1040元</td>
            </tr>
            <tr>
                <td>组三玩法</td>
                <td>投注号与开奖号相同且为组三，顺序不限（组三是指开奖号任意两位号码相同，如166）</td>
                <td>346元</td>
            </tr>
            <tr>
                <td>组六玩法</td>
                <td>投注号与开奖号相同且为组六，顺序不限（组六是指开奖号三个号码各不相同，如147）</td>
                <td>173元</td>
            </tr>
            <tr>
                <td>直选和值</td>
                <td>和值是指开奖号码中三个号码之和，如开奖号码147的和值为：1+4+7=12</td>
                <td>1040元</td>
            </tr>
            <tr>
                <td>组三和值</td>
                <td>和值是指开奖号码中三个号码之和，如开奖号码166的和值为：1+6+6=13</td>
                <td>346元</td>
            </tr>
            <tr>
                <td>组六和值</td>
                <td>和值是指开奖号码中三个号码之和，如开奖号码628的和值为：6+2+8=16</td>
                <td>173元</td>
            </tr>
        </table>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color6">奖金自动返还至用户帐户中，可继续投注或提现。</p>
    </div>
</div>