<div class="tabMould">
    <div class="tabMouldHead lanqiu">
        <h2>销售时间</h2>
        <span class="triangle"></span>
    </div>
    <div class="tabMouldBody">
			<span id="startTimes">
				<!--<p class="title"><span>周一、二、五 </span> 09:00~23:52</p>-->
				<p class="title"><span id="noSpace">周一、二、五</span> <span>09:00~23:52</span></p>
				<p class="title"><span>周三至周四</span> <span>07:30~23:52</span></p>
				<p class="title"><span>周六至周日</span> <span>09:00~次日00:52</span></p>
			</span>
        <p class="note">注：  竞彩篮球对阵中，客队在前，主队在后。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead lanqiu">
        <h2>玩法说明</h2>
        <span class="triangle"></span>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle">竞猜赛果为全场比赛结束时(含加时赛)的结果。</p>
        <table class="introduce jclq" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>玩法</td>
                <td>规则</td>
            </tr>
            <tr>
                <td>胜负</td>
                <td>竞猜主队在比赛的胜、负结果</td>
            </tr>
            <tr>
                <td>让分胜负</td>
                <td>竞猜主队在让分后的胜、负结果</td>
            </tr>
            <tr>
                <td>大小分</td>
                <td>竞猜双方的总得分与预设总分的比较关系</td>
            </tr>
            <tr>
                <td>胜分差</td>
                <td>竞猜全主队与客队的得分差距结果</td>
            </tr>
        </table>
        <div class="note1 color9">
            注：
            <ul>
                <li>
                    <div class="note1Head">
                        1.
                    </div>
                    <div class="note1Body">
                        预设总分，两队总分大于预设总分是大分，两队总分小于预设总分是小分。
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        2.
                    </div>
                    <div class="note1Body">
                        过关玩法预设总分在销售过程中可能有所变化，夜间投注竞彩篮球用户需注意。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead lanqiu">
        <h2>奖金计算</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle">竞彩篮球过关玩法奖金以出票时的出票赔率为准；</p>
        <p class="pTitle">奖金＝出票赔率连乘×2.00<span class="unit">元</span>×倍数。</p>
        <div class="note1 color9">
            具体计算方式举例：
            <div class="note1Introduce color9">
                选择2串1玩法，500倍，所选场次命中的出票奖金分别为1.77和3.77。
            </div>
            <ul>
                <li>
                    <div class="note1Head">
                        1.
                    </div>
                    <div class="note1Body">
                        首先将所选场次的赔率连乘再乘以2，1.77*3.77*2=13.3458；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        2.
                    </div>
                    <div class="note1Body">
                        取小数点后三位(只舍不入)：13.345；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        3.
                    </div>
                    <div class="note1Body">
                        根据四舍六入五成双考虑的原则进行取舍，保留两位小数：13.34；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        4.
                    </div>
                    <div class="note1Body">
                        再乘以倍数得出最后奖金：13.34*500=6670<span class="unit">元</span>。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tabMould" id="delete">
    <div class="tabMouldHead lanqiu">
        <h2>奖金限额</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle">选择单场投注，单注最高奖金限额10万元；</p>
        <p class="pTitle">选择2-3场过关投注，单注最高奖金限额20万元；</p>
        <p class="pTitle">选择4-5场过关投注，单注最高奖金限额50万元；</p>
        <p class="pTitle">选择6场过关投注，单注最高奖金限额100万元；</p>
        <p class="pTitle">根据法律规定，彩票的奖金收入属偶然所得，如单注彩票的中奖金额超过10000元(不含10000元)人民币，中奖者需要按照相关规定缴纳中奖金额的20%的个人所得税。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead lanqiu">
        <h2>异常处理</h2>
    </div>
    <div class="tabMouldBody">
        <div class="note color6">
            <ul>
                <li>
                    <div class="noteHead">
                        1.延期比赛如何处理？
                    </div>
                    <div class="noteBody">
                        推迟时间未超过36小时，则正常算奖；<br />推迟时间超过36小时或无法确定时间，则该场为无效场次，按比赛取消算奖。
                    </div>
                </li>
                <li>
                    <div class="noteHead">
                        2.中断比赛如何处理？
                    </div>
                    <div class="noteBody">
                        36小时内继续完成比赛则正常算奖；<br />36小时内未完成比赛则该场为无效场次，按比赛取消算奖。
                    </div>
                </li>
                <li>
                    <div class="noteHead">
                        3.取消赛事算奖？
                    </div>
                    <div class="noteBody">
                        单关固定玩法返还投注金额，过关投注该场赔率值按1.0计算奖金。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>