<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <p class="title">每天20:30开奖。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法规则</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期开出一个三位数作为中奖号码，百、十、个位每位号码0~9。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody">
        <table class="introduce" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>玩法</td>
                <td>中奖条件</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>直选三</td>
                <td>从百、十、个位至少各选1个号码，单注选号与开奖号码按位一致</td>
                <td>1040元</td>
            </tr>
            <tr>
                <td>组三玩法</td>
                <td>开奖号码中有任意两位数字相同，所选号码包含开奖号码中的数字(顺序不限)</td>
                <td>346元</td>
            </tr>
            <tr>
                <td>组六玩法</td>
                <td>开奖号码中3位数各不相同，所选号码的3个数字与开奖号码相同(顺序不限)</td>
                <td>173元</td>
            </tr>
            <tr>
                <td>直选三<br />和值</td>
                <td>和值是指开奖号码中三个号码之和，至少选择1个和值，所选和值与开奖号码和值一致</td>
                <td>1040元</td>
            </tr>
        </table>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color6">奖金自动返还至用户帐户中，可继续投注或提现。</p>
    </div>
</div>