<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <p class="title">每天20:30开奖。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法规则</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期开出一个五位数作为中奖号码，万、千、百、十、个位每位号码0~9。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody">
        <table class="introduce" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>玩法</td>
                <td>中奖条件</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>直选</td>
                <td>从万、千、百、十、个位至少各选1个号码，单注选号与开奖号码按位一致</td>
                <td>10万元</td>
            </tr>
        </table>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color6">奖金自动返还至用户帐户中，可继续投注或提现。</p>
    </div>
</div>