<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <p class="title">每周3期，逢周一、三、五晚21:30开奖。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法说明</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期开奖号码由7个基本号码和1个特别号码组成。</p>
        <p class="pTitle color3">投注号码范围01~30，选取7个组合为一注，每注2元。</p>
    </div>
</div>
<div class="tabMould qlc">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody qlc">
        <table class="illustrate" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>奖级</td>
                <td>中奖条件</td>
                <td>中奖说明</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>一等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中7基</td>
                <td>浮动</td>
            </tr>
            <tr>
                <td>二等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中6基+1特</td>
                <td>浮动</td>
            </tr>
            <tr>
                <td>三等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中6基</td>
                <td>浮动</td>
            </tr>
            <tr>
                <td>四等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中5基+1特</td>
                <td>200元</td>
            </tr>
            <tr>
                <td>五等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中5基</td>
                <td>50元</td>
            </tr>
            <tr>
                <td>六等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中4基+1特</td>
                <td>10元</td>
            </tr>
            <tr>
                <td>七等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中4基</td>
                <td>5元</td>
            </tr>
        </table>
        <div class="note1">
            特别号码<span id="blueBall"></span>说明:
            <div class="note1Introduce">
                摇奖时先摇出7个号码作为基本号码，再摇出一个号码作为特别号码。特别号码仅做二、四、六等奖使用，只要跟您买的7个号中的任意1个号相符，就算中特别号。
            </div>
            浮动奖说明：
            <ul>
                <li>
                    <div class="note1Head">
                        1.
                    </div>
                    <div class="note1Body">
                        一等奖奖金总额为当期一至三等奖奖金的70%；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        2.
                    </div>
                    <div class="note1Body">
                        二等奖奖金总额为当期一至三等奖奖金的20%；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        3.
                    </div>
                    <div class="note1Body">
                        三等奖奖金总额为当期一至三等奖奖金的10%；
                    </div>
                </li>
                <li>
                    <div class="note1Head">
                        4.
                    </div>
                    <div class="note1Body">
                        七乐彩单注奖金的最高限额为500万元。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color6">中奖金额&lt;100万元时,奖金自动返还至用户帐户中，可继续投注或提现。</p>
        <p class="pTitle color6">中奖金额&gt;100万元时,客服第一时间电话通知，用户可以选择在平台人员平陪同下亲自领奖，也可以授权本平台代领再派发到账户中，永无弃奖。</p>
    </div>
</div>