<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <p class="title">每周3期，逢周二、四、日晚21:30开奖。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法说明</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期开奖号码由6个红球+1个蓝球组成。</p>
        <p class="pTitle color3">红球号码从01~33号中选出，蓝球号码从01~16 号中选出，每注2<span class="unit">元</span>。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody">
        <table class="illustrate doubleColor" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>奖级</td>
                <td>中奖条件</td>
                <td>中奖说明</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>一等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中6红+1蓝</td>
                <td id="best">浮动</td>
            </tr>
            <tr>
                <td>二等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中6红</td>
                <td>浮动</td>
            </tr>
            <tr>
                <td>三等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中5红+1蓝</td>
                <td>3000<span class="unit">元</span></td>
            </tr>
            <tr>
                <td rowspan="2">四等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中5红</td>
                <td rowspan="2">200<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中4红+1蓝</td>
            </tr>
            <tr>
                <td rowspan="2">五等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                    </div>
                </td>
                <td>中4红</td>
                <td rowspan="2">10<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中3红+1蓝</td>
            </tr>
            <tr>
                <td rowspan="3">六等奖</td>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中2红+1蓝</td>
                <td rowspan="3">5<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>
                    <div class="ball">
                        <span class="redBall"></span>
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中1红+1蓝</td>
            </tr>
            <tr>
                <td>
                    <div class="ball">
                        <span class="blueBall"></span>
                    </div>
                </td>
                <td>中1蓝</td>
            </tr>
        </table>
        <div class="note" id="delete">
            注：
            <ul>
                <li>
                    <div class="noteHead">
                        1.高奖级奖金＝奖金总额－ 固定奖奖金。
                    </div>
                    <div class="noteBody">
                        奖金总额等于当期销售总额的49%，固定奖奖金等于三、四、五、六等奖奖金派送之和。
                    </div>
                </li>
                <li>
                    <div class="noteHead">
                        2.一等奖奖金计算：
                    </div>
                    <div class="noteBody">
                        当奖池资金低于1亿元时，奖金总额为当期高奖级奖金的75%与奖池中累积的资金之和，单注奖金按注均分，最高500万。<br />
                        当奖池奖金超过1亿元(含)时，奖金总额包括两部分，一部分为高奖级奖金的55%与奖池奖金之和，单注奖金按注均分，封顶500万元；另一部分为高奖级奖金的20%，单注奖金按注均分，封顶500万元；单注奖金最高可达1000万。
                    </div>
                </li>
                <li>
                    <div class="noteHead">
                        3.二等奖奖金计算：
                    </div>
                    <div class="noteBody">
                        当期高奖级奖金的25%，单注奖金按注均分，单注最高500万元。
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody" id="return">
        <p class="pTitle color6">中奖金额&lt;100万元时,奖金自动返还至用户帐户中，可继续投注或提现。</p>
        <p class="pTitle color6">中奖金额&gt;100万元时,客服第一时间电话通知，用户可以选择在平台人员平陪同下亲自领奖，也可以授权本平台代领再派发到账户中，永无弃奖。</p>
    </div>
</div>