<div class="tabMould">
    <div class="tabMouldHead">
        <h2>开奖时间</h2>
    </div>
    <div class="tabMouldBody">
        <div id="lotteryTime">
            <p class="title">每天销售85期，每10分钟一期。</p>
            <p class="title" id="lotTime">每天08:30第一期开奖，22:30最后一期开奖。</p>
        </div>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>玩法规则</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color3">每期从01-11开出5个号码作为中奖号码。</p>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>中奖说明</h2>
    </div>
    <div class="tabMouldBody">
        <table class="introduce" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>玩法</td>
                <td>中奖条件</td>
                <td>奖金</td>
            </tr>
            <tr>
                <td>任选二</td>
                <td>选2个号,猜中开奖的任意2号</td>
                <td>6<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选三</td>
                <td>选3个号,猜中开奖的任意3号</td>
                <td>19<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选四</td>
                <td>选4个号,猜中开奖的任意4号</td>
                <td>78<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选五</td>
                <td>选5个号,猜中开奖的任意5号</td>
                <td>540<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选六</td>
                <td>选6个号,猜中开奖的任意5号</td>
                <td>90<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选七</td>
                <td>选7个号,猜中开奖的任意5号</td>
                <td>26<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>任选八</td>
                <td>选8个号,猜中开奖的任意5号</td>
                <td>9<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>前一</td>
                <td>选1个号，猜中开奖的第1个号</td>
                <td>13<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>前二<br />直选</td>
                <td>选2个号与开奖的前2个号相同且顺序一致</td>
                <td>130<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>前二<br />组选</td>
                <td>选2个号与开奖的前2个号相同</td>
                <td>65<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>前三<br />直选</td>
                <td>选3个号与开奖的前3个号相同且顺序一致</td>
                <td>1170<span class="unit">元</span></td>
            </tr>
            <tr>
                <td>前三<br />组选</td>
                <td>选3个号与开奖的前3个号相同</td>
                <td>195<span class="unit">元</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="tabMould">
    <div class="tabMouldHead">
        <h2>便捷返奖</h2>
    </div>
    <div class="tabMouldBody">
        <p class="pTitle color6">奖金自动返还至用户帐户中，<span id="return">可继续投注或提现</span>。</p>
    </div>
</div>