<ion-view hide-nav-bar="true" style=" background-color: #F3F3F3; ">
    <ion-header-bar class="bar-background Soccerhall-har">
        <a class="bar-backgo icon iconfont icon-jiantou1" ng-click="backGo()"><i></i></a>
        <span style="margin-left: 1.3rem;position: relative;">关于我们</span>
        <div class="Soccerhall-har-right">
            <a class="icon iconfont icon-shouyeshouye funnel home" ng-click="Gohome()"></a>
        </div>
    </ion-header-bar>
    <div class="aboutus-top">
        <img src="img/wocai.png">
        <h3>我猜彩票</h3>
<!--         <h4>版本：1.1.1</h4> -->
    </div>
    <ul class="aboutus-cot">
<!--         <li>
            <div>版本号</div><div>1.1.1<i class="icon iconfont icon-jiantou"></i></div>
        </li> -->
        <li><div>网站地址</div><div>m.778668.cn<i class="icon iconfont icon-jiantou"></i></div></li>
        <li style="margin-top:.2rem"><div>版权所有</div><div>杭州双彩科技有限公司<i class="icon iconfont icon-jiantou"></i></div></li>
        <li ><div>客服电话</div><div>0571-86981383<i class="icon iconfont icon-jiantou"></i></div></li>
    </ul>
</ion-view>