<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-background Soccerhall-har">
        <a class="bar-backgo icon iconfont icon-jiantou1" ng-click="backGo()"><i></i></a>
        <span style="margin-left: 1.3rem;position: relative;">重置密码</span>
        <div class="Soccerhall-har-right">
            <a class="icon iconfont icon-shouyeshouye funnel home" ng-click="Gohome()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="contentBG">
        <div class="login-tab-con register-top">
            <form name="userLogin" ng-submit="doRegister()" novalidate="novalidate">
                <p class="login-tab-pwd" id="logintabpwd">
                    <input name="password" type="password" id="regpw7"  ng-model="register.newpwd" ng-focus="setPWDErrorOff()" ng-blur="setPWD()" placeholder="密码为6-12位字母数字" />
                    <i class="icon iconfont icon-iconfont17shifouxianshimimafou loginPwdShow" ng-click="ShowPassword7()"></i>
                    <span class="error" ng-show="setPWDError">{{setPWDErrorMsg}}</span>
                </p>
                <p class="login-tab-pwd">
                    <input name="confirmPWD" type="password" id="regpw8"  ng-model="register.confirmPWD" ng-focus="confirmPWDErrorOff()" ng-blur="confirmPWD()" placeholder="确认密码" />
                    <i class="icon iconfont icon-iconfont17shifouxianshimimafou loginPwdShow" ng-click="ShowPassword8()"></i>
                    <span class="error" ng-show="confirmPWDError">{{confirmPWDErrorMsg}}</span>
                </p>
                <p>
                    <button ng-if="isAgree_val" class="submit-btn" type="submit">确定</button>
                    <button ng-if="!isAgree_val" class="submit-btn" style="opacity: 0.6">确定</button>
                </p>
            </form>
        </div>
    </ion-content>
</ion-view>