<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-background Soccerhall-har">
        <a class="bar-backgo icon iconfont icon-jiantou1" ng-click="backGo()"><i></i></a>
        <span style="margin-left: 1.3rem;position: relative;">设置</span>
        <div class="Soccerhall-har-right">
            <a class="icon iconfont icon-shouyeshouye funnel home" ng-click="Gohome()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="contentBG">
        <div class="Setting list-item" ng-click="goChangePWD()">
            <div>登录密码修改</div><div class="settingr"><i class="icon iconfont icon-jiantou"></i></div>
        </div>
        <div class="Setting list-item" ng-click="goBankCardBinding()">
            <span class="settingl">银行卡<span class="idcard">{{banknunm}}</span></span> <span><i class="icon iconfont icon-jiantou"></i></span>
        </div>
        <div class="Setting list-item" ng-click="goIDcard()">
            <span class="settingl">实名认证<span class="idcard">{{idcard}}</span></span> <span><i class="icon iconfont icon-jiantou"></i></span>
        </div>
        <div class="Setting list-item " ng-click="gohelp()">
            <span class="settingl">帮助中心</span> <span><i class="icon iconfont icon-jiantou"></i></span>
        </div>
        <div class="Setting list-item "  style="margin-top:.2rem" ng-click="goAbout()">
            <span class="settingl">关于我们</span> <span><i class="icon iconfont icon-jiantou"></i></span>
        </div>
        <!--<div class="Setting list-item Settingwe">
            <span>关于我们</span> <span><i class="icon iconfont icon-jiantou"></i></span>
        </div>-->
    </ion-content>
    <ion-footer-bar class="detaillist-foot">
        <div class="detaillist-foot-butt" ng-click="goOutLogin()">
            退出当前账号
        </div>
    </ion-footer-bar>
</ion-view>